@using ProjectX.MVC.ViewModel
@model IEnumerable<StudentViewModel>
<h1>List of Students</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Group Number</th>
        <th>Type of Training</th>
    </tr>
    @foreach (var student in Model)
    {
<tr>
    <td>@student.Id</td>
    <td>@student.LastName</td>
    <td>@student.FirstName</td>
    <td>@student.Email</td>
    <td>@student.Phone</td>

    @if (student.GroupId != null)
    {
        <td>@student.Group.Number</td>
    }
    else
    {
        <td></td>
    }

    <td>@student.Type.ToString()</td>
    <td>
        <a asp-controller="Students" asp-action="Edit" asp-route-Id="@student.Id"
           class="btn btn-outline-primary">
            Edit
        </a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@student.Id" />
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </td>
</tr>
    }
    <tr>
        <td>
            <div class="text-info">Total: @Model.Count()</div>
        </td>
    </tr>
</table>
<a class="btn btn-success" asp-controller="Students" asp-action="Edit">Add new student</a>