@using ProjectX.MVC.ViewModel
@using System.Linq
@using System.Runtime.InteropServices.ComTypes
@{
    Dictionary<int, string> coursesForDropMenu = ViewBag.Courses;
}
@model RequestsListViewModel
<div class="container-fluid widthInfoCard">
    <div class="card shadow">
        <div class="card-header py-3">
            <h2 class="text-center m-0 font-weight-bold">Requests Info</h2>
        </div>
        <a asp-controller="Requests" asp-action="Edit" class="btn btn-success">Add new student request</a>
        <form asp-controller="Requests" asp-action="Index" method="post">
            <div class="card-body  custom-font-size">
                <div class="table-responsive  custom-table-height table mt-2" role="grid" aria-describedby="dataTable_info">
                    <table class="custom-vertical-align custom-table-width table-hover my-0" id="dataTable">
                        <tr>
                            @if ((bool)ViewBag.CheckingAllowed && (bool)ViewBag.GroupExists)
                            {
                                <th>Check</th>
                            }
                            <th>Created</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>
                                <nav class="navbar custom-padding custom-color navbar-expand-md navigation-clean-button">
                                    <ul class="nav navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort by course</a>
                                            <div class="dropdown-menu custom-margin" role="menu">
                                                @foreach (var course in coursesForDropMenu)
                                                {
                                                    <a class="dropdown-item-text custom-color" role="presentation" asp-controller="Requests" asp-action="Index" asp-route-id="@course.Key">@course.Value</a>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </th>
                            <th>Type of Training</th>
                            <th>Comments</th>
                            @if ((bool)ViewBag.CheckingAllowed && (bool)ViewBag.GroupExists)
                            {
                                <th class="custom-width">
                                    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                                        <div>
                                            <div class="collapse navbar-collapse" id="navcol-1">

                                                <span class="navbar-text actions">
                                                    <button type="submit" class="btn btn-light bg-success shadow-sm action-button" role="button">Add student(s) to group</button>
                                                </span>
                                            </div>
                                            <span class="custom-dropdown small">
                                                <select asp-for="GroupId">
                                                    <option value="hide">-- Group number --</option>
                                                    @foreach (GroupViewModel group in ViewBag.Groups)
                                                    {
                                                        <option value="@group.Id">@group.Number @group.Status</option>
                                                    }
                                                </select>
                                            </span>
                                        </div>
                                    </nav>
                                </th>
                            }
                            else
                            {
                                <th class="custom-width">
                                    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                                        <div class="row">
                                            <div class="collapse navbar-collapse" id="navcol-1">
                                                <span class="navbar-text actions">
                                                    <a asp-controller="Groups" asp-action="Edit" 
                                                       class="btn btn-light bg-danger shadow-sm action-button" role="button">Create new group</a>
                                                </span>
                                            </div>
                                        </div>
                                    </nav>
                                </th>
                            }
                        </tr>
                        @for (int i = 0; i < Model.RequestsList.Count; i++)
                        {
                            <tr>

                                @Html.HiddenFor(m => m.RequestsList[i].Id)
                                @if ((bool)ViewBag.CheckingAllowed && (bool)ViewBag.GroupExists)
                                {
                                    <td>
                                        @Html.EditorFor(m => m.RequestsList[i].Selected)
                                    </td>
                                }
                                <td>
                                    @Model.RequestsList[i].Created
                                    @Html.HiddenFor(m => m.RequestsList[i].Created)
                                </td>
                                <td>
                                    @Model.RequestsList[i].LastName
                                    @Html.HiddenFor(m => m.RequestsList[i].LastName)
                                </td>
                                <td>
                                    @Model.RequestsList[i].FirstName
                                    @Html.HiddenFor(m => m.RequestsList[i].FirstName)
                                </td>
                                <td>
                                    @Model.RequestsList[i].Phone
                                    @Html.HiddenFor(m => m.RequestsList[i].Phone)
                                </td>
                                <td>
                                    @Model.RequestsList[i].Email
                                    @Html.HiddenFor(m => m.RequestsList[i].Email)
                                </td>
                                @Html.HiddenFor(m => m.RequestsList[i].CourseId)
                                <td>
                                    @Model.RequestsList[i].Course.Title
                                    @Html.HiddenFor(m => m.RequestsList[i].Course.Title)
                                </td>
                                <td>
                                    @Model.RequestsList[i].Type.ToString()
                                    @Html.HiddenFor(m => m.RequestsList[i].Type)
                                </td>
                                <td>
                                    @Model.RequestsList[i].Comments
                                    @Html.HiddenFor(m => m.RequestsList[i].Comments)
                                </td>
                                <td class="custom-width">
                                    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                                        <div class="row">
                                            <div class="collapse navbar-collapse" id="navcol-1">
                                                <span class="navbar-text actions">
                                                    <a asp-controller="Requests" asp-action="Edit" asp-route-id="@Model.RequestsList[i].Id"
                                                       class="btn btn-light bg-warning shadow-sm action-button" role="button">Edit request</a>
                                                </span>
                                                <span class="navbar-text actions">
                                                    <button asp-controller="Requests" asp-action="Delete" type="submit"
                                                            asp-route-id="@Model.RequestsList[i].Id" class="btn btn-light bg-secondary shadow-sm action-button"
                                                            role="button">
                                                        Delete
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </nav>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <div class="text-info">Total: @Model.RequestsList.Count()</div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
