@using ProjectX.MVC.ViewModel

@model IEnumerable<StudentRequestViewModel>


<div class="container-fluid widthInfoCard" data-aos="fade-down" data-aos-duration="600">
    <div class="card shadow">
        <div class="card-header py-3">
            <h2 class="text-center m-0 font-weight-bold">Requests Info</h2>
        </div>
        <a asp-controller="Requests" asp-action="Edit" class="btn btn-success">Add new student request</a>
        <div class="card-body">
            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table class="table-hover  my-0" id="dataTable">
                    <tr>
                        <th>Created</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Course</th>
                        <th>Type of Training</th>
                        <th>Comments</th>
                    </tr>
                    @foreach (var request in Model)
                    {
                        <tr>
                            <td>@request.Created</td>
                            <td>@request.LastName</td>
                            <td>@request.FirstName</td>
                            <td>@request.Phone</td>
                            <td>@request.Email</td>
                            <td>@request.Course.Title</td>
                            <td>@request.Type.ToString()</td>
                            <td>@request.Comments</td>
                            <td>
                                <a asp-controller="Requests" asp-action="Edit" asp-route-id="@request.Id" class="btn btn-outline-primary">Edit</a>
                            </td>
                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@request.Id" />
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <div class="text-info">Total: @Model.Count()</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
