@using ProjectX.MVC.ViewModel
@{  }

@model List<CourseViewModel>

<body id="page-top">
    <h1 class="display-4">FRONTEND DEVELOPER<br></h1>
<div class="card-group">
    
    @foreach (var course in Model)
    {
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@course.Title<br></h4>
                <p class="card-text">@course.Description</p>
                @if (@course.NecessaryPreKnowledge != null)
                {
                    <p>Necessary pre-knowledge:&nbsp;<br>@course.NecessaryPreKnowledge<br></p>
                }

                <p>Cost : @course.Cost BYN<br></p><button class="btn btn-primary" type="button">Enroll in a course<br></button>
            </div>
        </div>

    }

   
    
    

</div>
</body>