@using ProjectX.MVC.ViewModel
@model IEnumerable<TeacherViewModel>
<h1>List of Teachers</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Bio</th>
    </tr>
    @foreach (var teacher in Model)
    {
        <tr>
            <td>@teacher.Id</td>
            <td>@teacher.LastName</td>
            <td>@teacher.FirstName</td>
            <td>@teacher.Email</td>
            <td>@teacher.Phone</td>
            <td>@teacher.Bio</td>
            <td>
                <a asp-action="Edit" asp-route-Id="@teacher.Id"
                   class="btn btn-outline-primary">
                    Edit
                </a>
            </td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@teacher.Id" />
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    <tr>
        <td>
            <div class="text-info">Total: @Model.Count()</div>
        </td>
    </tr>
</table>
<a class="btn btn-success" asp-action="Edit" >Add new teacher</a>